<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" class="needs-validation">

    <div formGroupName="nombrecompleto">

        <!--  -->
        <div class="form-group row">
            <label for="inputNombre" class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input id="inputNombre" class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [ngClass]="{ 'is-invalid': !forma.get('nombrecompleto.nombre').valid && !forma.get('nombrecompleto.nombre').pristine, 'is-valid': forma.get('nombrecompleto.nombre').valid }">
                <div *ngIf="forma.get('nombrecompleto.nombre').errors?.required && !forma.get('nombrecompleto.nombre').pristine" class="invalid-feedback">El nombre es necesario</div>
                <div *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength && !forma.get('nombrecompleto.nombre').pristine" class="invalid-feedback">Por lo menos 3 caracteres</div>
            </div>
        </div>

        <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('nombrecompleto.apellido').valid }">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [ngClass]="{ 'is-invalid': !forma.get('nombrecompleto.apellido').valid && !forma.get('nombrecompleto.apellido').pristine, 'is-valid': forma.get('nombrecompleto.apellido').valid }">
                <div *ngIf="forma.get('nombrecompleto.apellido').errors?.required && !forma.get('nombrecompleto.apellido').pristine" class="invalid-feedback">El apellido es necesario</div>
                <div *ngIf="forma.get('nombrecompleto.apellido').errors?.minlength && !forma.get('nombrecompleto.apellido').pristine" class="invalid-feedback">Por lo menos 3 caracteres</div>
            </div>
        </div>

    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('correo').valid }">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [ngClass]="{ 'is-invalid': !forma.get('correo').valid && !forma.get('correo').pristine, 'is-valid': forma.get('correo').valid }">
            <div *ngIf="forma.get('correo').errors?.required" class="invalid-feedback">Debe ingresar el correo</div>
            <div *ngIf="!forma.get('correo').errors?.valid && !forma.get('correo').errors?.required && !forma.get('correo').pristine" class="invalid-feedback">Correo invalido</div>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('username').valid }">
        <label class="col-2 col-form-label">Username</label>
        <div class="col-md-8">

            <input class="form-control" type="text" placeholder="Username" formControlName="username">
        </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('correo').valid }">
        <label class="col-2 col-form-label">Password1</label>
        <div class="col-md-8">

            <input class="form-control" type="text" placeholder="Password" formControlName="password1" [ngClass]="{ 'is-invalid': !forma.get('password1').valid && !forma.get('password1').pristine, 'is-valid': forma.get('password1').valid }">
            <div *ngIf="forma.get('password1').errors?.required" class="invalid-feedback">Debe ingresar el password</div>
            <div *ngIf="!forma.get('password1').errors?.valid && !forma.get('password1').errors?.required && !forma.get('password1').pristine" class="invalid-feedback">Password invalido</div>
        </div>
    </div>
    <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('correo').valid }">
        <label class="col-2 col-form-label">Password2</label>
        <div class="col-md-8">

            <input class="form-control" type="text" placeholder="Confirmar password" formControlName="password2" [ngClass]="{ 'is-invalid': !forma.get('password2').valid && !forma.get('password2').pristine, 'is-valid': forma.get('password2').valid }">
            <div *ngIf="forma.get('password2').errors?.required" class="invalid-feedback">Debe confirmar el password</div>
            <div *ngIf="!forma.get('password2').errors?.valid && !forma.get('password2').errors?.required && !forma.get('password2').pristine" class="invalid-feedback">Password invalido</div>
        </div>
    </div>

    <div class="form-group row" [ngClass]="{ 'has-danger': !forma.get('correo').valid }">
        <label class="col-2 col-form-label">Pasatiempos</label>
        <div class="col-md-8" formArrayName="pasatiempos">
            <input type="text" class="form-control" [formControlName]="i" *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index">
        </div>
    </div>

    <button (click)="guardarPasatiempos()" type="button" class="btn btn-primary">
            Guardar Pasatiempo
        </button>

    <div class="form-group row" *ngIf="forma.valid">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>

    <br> {{ forma.status }}

</form>